/** {
    border: 1px dashed black;
}*/

body{
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}

#topbar-wrap {
    margin: 0 auto;
    width: 100%;
    background-color: #FF8A00;
}

#topbar {
    padding: 50px 0;
    margin: 0 auto;
    width: 960px;
   background-color: #FF8A00;
}

#topbar ul {
        padding-left: 0;
}

#topbar li{
    display: inline;
    list-style: none;
    padding-right: 5%;
    padding-left: 5%;
}

#topbar li h1, #topbar li h4 {
    display: inline;
    text-transform: uppercase;
}

#topbar a {
    text-decoration: none;
    color: white;
}

#topbar a:hover {

}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}

#content-wrap {
    width: 100%;
    background-color: #f4f4f4;
}

#main-content h1 {
    margin-top: 0;
    padding-bottom: 15px;
}
#main-content {
    width: 960px;
    height: auto;
    padding: 30px 0;
    margin: auto;
    text-align: left;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
}

#my-pic {
    float: left;
    width: 28%;
    height: auto;
    margin: 0 8% 0 4%;
}

#text-content {
    max-width: 50%;
    padding-top: 40px;
    line-height: 36px;
    display: inline-block;
    float: left;
}
